<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Help</title>

               <!-- Bootstrap core CSS -->
      <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/help.css">

      <script src="/static/js/help.js"></script>
   </head>
   <body>

   <!-- Navigation -->
    <nav class="bg-black fixed-top" id="topnav">
     <a id="pages" class="nav-link" href="/">Blockchain-based voting system</a>
     <a class="nav-link" href="/">Welcome Page</a>
     <a class="nav-link" href="/make/vote">Vote </a>
     <a class="nav-link" href="/view/votes">Results </a>
     <a class="nav-link" href="/faq">FAQ </a>
     <a class="nav-link-active" href="/help">Help </a>
     <a class="nav-link" href="/redirect_to_different_mining">Mine</a>
     <a class="nav-link" href="/redirect_to_different_configure">Configure </a>
    </nav>



   <div id="help-content">
      <h1>Need Help?</h1>
      <p>If you need assistance or have any questions, feel free to contact us through one of the following methods:</p>

      <ul>
         <li>Email: <a href="mailto:youremail@example.com">212174@astanait.edu.com</a></li>
         <li>Phone: +7 777 777 77 77</li>
      </ul>

      <p>Alternatively, you can use the contact form below:</p>

      <form id="contact-form" action="/submit-contact" method="POST">
         <label for="name">Your Name:</label>
         <input type="text" id="name" name="name" required>

         <label for="email">Email:</label>
         <input type="email" id="email" name="email" required>

         <label for="message">Message:</label>
         <textarea id="message" name="message" rows="5" required></textarea>

         <button type="submit">Send Message</button>
      </form>

      <div id="notification" style="display: none;">Сообщение отправлено!</div>

   </div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div id="bottom-section"> <!-- Social Media Links and Contact Information -->
        <div id="social-media">
            <a href="https://twitter.com/worldofvicky007" class="icon-button twitter"><i class="fab fa-twitter"></i><span></span></a>
            <a href="https://www.facebook.com/vikram.paul.mon.007" class="icon-button facebook"><i class="fab fa-facebook"></i><span></span></a>
            <a href="https://www.linkedin.com/in/vikram-paul-b27a1b11b/" class="icon-button linkedin"><i class="fab fa-linkedin"></i><span></span></a>
            <a href="https://www.instagram.com/worldofvicky007/" class="icon-button instagram"><i class="fab fa-instagram"></i><span></span></a>
            <a href="https://github.com/VikramPaul007" class="icon-button github"><i class="fab fa-github"></i><span></span></a>
        </div>
    </div>
   </body>
</html>
