#topnav {
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;
}

.nav-link {
   display: inline-block;
   width: 200px;
   height: 80px;

   color: White;

   text-align: center;
   line-height: 80px;

   text-decoration: none;
}

#pages {
   width: 350px;

   background-color: RoyalBlue;

   font-weight: bold;
}

#content {
   padding: 20px; /* Add padding to create space between the content and the navigation bar */
   margin-top: 100px; /* Adjust the margin-top to push content below the navigation bar */
   background-color: #f0f0f0; /* Set a background color for the content section */
}

#bottom-section {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: black;
   padding: 20px;
   color: white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

#social-media a {
   margin: 10px;
   text-decoration: none;
   color: white;
}

#social-media img {
   width: 30px;
   height: 30px;
   margin: 5px;
}

#contact-info {
   margin-left: 20px;
}
