#topnav {
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;
}

.nav-link {
   display: inline-block;
   width: 200px;
   height: 80px;

   color: White;

   text-align: center;
   line-height: 80px;

   text-decoration: none;
}

#pages {
   width: 350px;

   background-color: RoyalBlue;

   font-weight: bold;
}

.active {
   background-color: RoyalBlue;
}

/* Стили для содержимого страницы "Help" */
#help-content {
   margin: 100px auto;
   max-width: 800px;
   padding: 20px;
   text-align: center;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   border-radius: 5px;
}

#help-content h1 {
   font-size: 24px;
}

#help-content ul {
   list-style: none;
   padding: 0;
}

#help-content ul li {
   margin: 10px 0;
   font-size: 16px;
}

#contact-form {
   margin-top: 20px;
   text-align: left;
}

#contact-form label {
   font-weight: bold;
   display: block;
   margin: 10px 0;
   font-size: 16px;
}

#contact-form input,
#contact-form textarea {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
}

#contact-form button {
   background-color: #3498db;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 18px;
   cursor: pointer;
}

#contact-form button:hover {
   background-color: #2980b9;
}

#bottom-section {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: black;
   padding: 20px;
   color: white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

#social-media a {
   margin: 10px;
   text-decoration: none;
   color: white;
}

#social-media img {
   width: 30px;
   height: 30px;
   margin: 5px;
}

#contact-info {
   margin-left: 20px;
}
